---
import type { FnArgument } from "@/content/config"

interface Props {
  args: FnArgument[]
}

const { args } = Astro.props

const hues = args.map((_, i) => i * (360 / args.length) + "deg")
---

<div class="grid md:grid-cols-2 gap-4 pb-8 leading-loose text-sm">
  {
    args.map((arg, i) => (
      <div class="pt-4 px-4">
        <div>
          <span class="text-base _arg-name" style={`--hue: ${hues[i]}`}>
            {arg.summary}
          </span>
          {(arg.optional || arg.default) && <span>（省略可能）</span>}
        </div>
        {arg.detail && <p class="pt-2 ps-4">{arg.detail}</p>}
        {arg.pattern && (
          <ul class="list-disc ps-5">
            {arg.pattern.map((p) => (
              <li class="pt-2">
                <div>
                  <span class="text-base">{p.value}</span>
                  {p.value === arg.default && <span>（デフォルト）</span>}
                </div>
                <div>{p.behavior}</div>
              </li>
            ))}
          </ul>
        )}
      </div>
    ))
  }
</div>

<style>
  ._arg-name {
    font-family: var(--font-code);
    font-weight: var(--font-weight-code);

    background: linear-gradient(rgba(255, 255, 255, 0) 40%, hsl(var(--hue), 100%, 95%) 70%);
  }
</style>
