---
import { getCollection, type CollectionEntry } from "astro:content"
import PageRoot from "@/layout/PageRoot.astro"
import FunctionSignature from "@/components/fn/FunctionSignature.astro"
import Breadcrumb from "@/components/article/Breadcrumb.astro"
import { Heading, Hr } from "flowbite-svelte"
import { SITE_BASE } from "@/site-config"
import { type CategoryKey } from "@/content/config"

const all = await getCollection("fn")
const allByCategory = all.reduce(
  (acc, fn) => {
    const category = fn.data.category.label
    if (!acc[category]) {
      acc[category] = []
    }
    acc[category].push(fn)
    return acc
  },
  {} as Record<CategoryKey, CollectionEntry<"fn">[]>
)
---

<PageRoot>
  <div class="w-full max-w-screen-md mx-auto">
    <Breadcrumb />
    <Heading tag="h1" class="mb-6 mt-14">Functions</Heading>
    {
      Object.entries(allByCategory).map(([category, entry]) => (
        <div class="last:mb-6">
          <Hr hrClass="w-full my-14" iconDivClass="start-6 px-2 translate-x-0" icon>
            {category}
          </Hr>
          <ul class="grid gap-4 overflow-x-auto">
            {entry.map((fn) => (
              <li>
                <a href={`${SITE_BASE}/fn/${fn.slug}`} class="no-underline">
                  <FunctionSignature name={fn.data.name} args={fn.data.args} coloring />
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</PageRoot>
